

/*BIEN LA PARTE DEL CSS ES FACIL DE AVERIGUAR Y TAMBIEN LA MAYORIA DE ESTOS VALORES YA TU LO DOMINAS ASI QUE NO VEO LA NECESIDAD
DE MAYOR DOCUMENTACION */
html{
	background: #999;
}
body{
width: 65%;
margin: 0px auto;
background: white;
height: 900px;
}
h3{
	border-bottom: 1px solid black;
	text-align: center;
	clear: both;
}
footer {
	width: 80%;
	margin: 200px auto;
}
.G0{
	color: #1FB2E6;
}
.G1{
	color: #EA3969;
}
.G2{
	font-size: 35px;
	margin-left: 15px;
}
.G3{
	clear: both;
}
.G4{
	background: #EEE;
	border-radius: 2px;
	width: 100px;
	height: 20px;
	margin-bottom: 4px;
}
.G5{
	
	border-radius: 2px;
	width: 130px;
	height: 20px;
	margin-bottom: 4px;
}
.G6{
	position: relative;
}
.G7{
    position: absolute;
    top: 0;
    left: -9.5px;
}
.G7:hover{
	background: #1FB2E6;
}
/*--------------------------------------*/
.E0{
	color: white;
	background: black;
	height: 35px;
	border-radius: 5px;
	border-radius: 0px;
}
.E0 p {
	font-size: 23px;
	font-style: italic;
	text-align: center;
}
.E1{
	float: left;
}
.E2{
	float: right;	
	display: inline-block;
}
.E2 h2{
	font-size: 65px;
	padding: 5px;
	margin: 0px;
	border-bottom: solid #E7F0E5 6px;
}
.E3{
	
	margin-top: 5%;
	display: inline-block;
	clear: both;
	margin-left: 35px;
	width: 100%;
}
.E3 table{
	margin:0 auto;
}
.E3 table th{
	display: inline-block;
	padding: 5px 35px;
	background: #EEE;
	
}
.E4{
	display: inline-block;
	border-width: 1px;
	width: 51px;
	padding: 15px 35px;
	margin-right:5px; 
    text-align: left;
	margin-top: 5px;
	border-color: #DDD;
	border-radius: 4px;
    border-style: solid;
}









