
/*BIEN LA PARTE DEL CSS ES FACIL DE AVERIGUAR Y TAMBIEN LA MAYORIA DE ESTOS VALORES YA TU LO DOMINAS ASI QUE NO VEO LA NECESIDAD
DE MAYOR DOCUMENTACION */

#divp{

	padding: 30px 30px 40px 40px;

}

#span{
	border-bottom: solid #B1C1AD 6px;
	border-radius: 2px 2px 2px 2px;
}


html{
	background: #999;
}
body{
width: 61%;
margin: 0px auto;
background: white;
height: 900px;
margin-top: 55px;
}
h3{
	border-bottom: 1px solid black;
	text-align: center;
	clear: both;
}
footer {
	width: 80%;
	margin: 200px auto;
}
.G0{
	color: #1FB2E6;
}
.G1{
	color: #EA3969;
}
.G2{
	font-size: 20px;
	margin-left: 15px;
	font-weight: bold;
}
.G3{
	clear: both;
}
.G4{
	background: #C4C2C2;
	border-radius: 4px ;
	width: 100px;
	height: 20px;
	margin-bottom: 4px;

}
.G5{
	
	border-radius: 4px;
	width: 130px;
	height: 20px;
	margin-bottom: 4px;
}
.G6{
	position: relative;
}
.G7{
    position: absolute;
    top: 0;
    left: -9.5px;
}
.G7:hover{
	background: #1FB2E6;
}
/*--------------------------------------*/
.E0{
	color: white;
	background: black;
	height: 35px;
	border-radius: 5px;
	
}
.E0 p {
	font-size: 16px;
	text-align: center;
	font-family:  sans-serif;
	font-weight: bold;
	letter-spacing: 10px;
	padding: 8px;
}
.E1{
	float: left;
	font-size: 14px;
	padding-top: 10px;
}
.E1 article p.G2{
	
	padding-top: 25px;
	font-size: 23px;
	margin-left: 0px;
}
.E2{
	float: right;	
	display: inline-block;
}
.E2 h2{
	font-size: 65px;
	padding: 5px;
	margin: 0px;
	
}
.E3{
	
	margin-top: 5%;
	display: inline-block;
	clear: both;
	margin-left: 35px;
	width: 100%;
}
.E3 table{
	margin:0 auto;
	text-align: center;
	margin-top: 30px;

}
.E3 table th{
	display: inline-block;
	padding: 5px 23px;
	background: #EEE;
	border: 1px solid grey;
	border-radius: 5px;
	
}
.E4{
	display: inline-block;
	border-width: 1px;
	width: 40px;
	padding: 15px 30px;
	margin-right:5px; 
    text-align: left;
	margin-top: 5px;
	border-color: #DDD;
	border-radius: 4px;
    border-style: solid;
}

















